.flexbox {
	display: flex;
}

.post {
	color: white;
}

select {
	height: 22px;
	margin-bottom: 3.9px;
}
.filePath {
	height: 16px;
	margin-bottom: 3.9px;
}

.textArea {
	min-height: 1.5rem;
	min-width: 6rem;
	width: 14rem;
	max-width: 14rem;
	color: 'white';
	font-size: 0.9rem;
	margin-top: 0.5;
	margin-bottom: 0.5;
	border: 1;
	border-color: white;
	border-radius: 10px;
	text-overflow: ellipsis;
	background-color: #2f2f2f;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

textarea::placeholder {
	color: white;
}

input {
	color: white !important;
	border-color: white !important;
}

textarea {
	color: white !important;
}

label {
	color: white !important;
}
